
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #e5e5e5;
}

.wraper {
  width: 580px;
  margin: auto;
}

.login-join-box {
  width: 520px;
  height: 712px;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}

.login-join-title {
  color: #000000;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 18px;
  border-bottom: 2px solid #c4c4c4;
}

.main-box {
  padding: 25px 24px;
  box-sizing: border-box;
}

.weniv-txt {
  color: #000000;
  font-size: 20px;
  margin-bottom: 24px;
}

form input {
  width: 472px;
  height: 50px;
  font-size: 16px;
  color: 767676;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding: 15px 0 15px 16px;
  box-sizing: border-box;
  margin-bottom: 6px;
}

.login-checkbox{
  
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}


.message {
  font-size: 14px;
  color: #f4492e;
  margin-bottom: 10px;
}

.pw-message {
  margin-bottom: 13px;
}
